.btn-icon{
    stroke: rgb(207, 207, 207);
    transition: 0.2s;
}

.link{
    color: white;
    transition: 0.2s;
  }
.link:hover .btn-icon,
.link:hover{
    stroke: #6a1b9a;
    color: #6a1b9a;
    cursor: pointer;
}

.navLink{
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.navLink:hover{
    text-decoration: underline;
    cursor: pointer;
}
.resetLink{
    color:  white;
    text-decoration: none;
}
.boxOutline{
    outline: solid 2px rgb(34, 34, 34);
    padding: 20px;
    border-radius: 6px;
}
.datePicker{
    font-size: 20px;
    padding: 15px;
    color:  white;
    background-color: transparent;
    border: solid 1px rgb(77, 77, 77);
    border-radius: 5px;
}
.datePicker:hover{
    border-color: white;
    cursor: pointer;
}